---
http_interactions:
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/4339/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"<API-KEY>","campaign_invitation":{"first_name":"John","last_name":"Doe","email":"j.doe@example.com","user_phone_number":"555555","source":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a945fef4931a2be7244dbde072577b95"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Candidate was succesfully added to the campaign.","url":"https://my.talkpush.com/guests/campaign_invitations/949980/outbound_call?company_id=16\u0026outbound_token=f428b86a10d7542cd797badd04eeebe71f4a9dfce421432faf09a238c6902774\u0026source=MICROSITE","pin":"612820","id":949980}'
  recorded_at: Fri, 19 Feb 2021 12:24:12 GMT
recorded_with: VCR 6.0.0
