---
http_interactions:
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/4339/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"<INVALID-API-KEY>","campaign_invitation":{"first_name":null,"last_name":null,"email":null,"user_phone_number":null,"source":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Invalid API key"}'
  recorded_at: Fri, 19 Feb 2021 12:08:50 GMT
recorded_with: VCR 6.0.0
