---
http_interactions:
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/4339/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"<API-KEY>","campaign_invitation":{"first_name":null,"last_name":null,"email":null,"user_phone_number":null,"source":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Bad request. Please make sure that required parameters
        were provided."}'
  recorded_at: Fri, 19 Feb 2021 12:08:53 GMT
recorded_with: VCR 6.0.0
