---
http_interactions:
- request:
    method: post
    uri: https://my.talkpush.com/api/talkpush_services/campaigns/4339/campaign_invitations
    body:
      encoding: UTF-8
      string: '{"api_key":"<API-KEY>","campaign_invitation":{"first_name":"John","last_name":"Doe","email":"j.doe@example.com","user_phone_number":"555555","source":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9cc71991f6a8f253cc3cde7f4f0d8df7"
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Duplicate: Candidate already exists."}'
  recorded_at: Fri, 19 Feb 2021 12:08:55 GMT
recorded_with: VCR 6.0.0
