---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET-ID/values/A2:E101?key=GOOGLE-API-KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 404,
            "message": "Requested entity was not found.",
            "status": "NOT_FOUND"
          }
        }
  recorded_at: Sat, 20 Feb 2021 13:00:21 GMT
recorded_with: VCR 6.0.0
